<div id = "beforeSearchContent">
<div id="feedback-main">
  <div class="bontainer">
  <form id="contact" action="" method="post">
   <button class = "contactClose" ng-click = "toggleVisibility()">&times;</button>
    <h3>Quick Contact</h3>
    <h4>Contact us today, and get reply with in 24 hours!</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus ng-model="feedback.name">
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required ng-model="feedback.email">
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your Message Here...." tabindex="5" required ng-model="feedback.message"></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" ng-click="sendFeedback(feedback)">Submit</button>
    </fieldset>
  </form>
</div>
  </div>
  <input class="btn submit-btn" ng-click = "searchWithPantry()" type="submit" value="Find recipes based on your pantry contents" />
<div class="clearfix" id = "mainPage">
  <form ng-Submit="search()">
    <!--<h4 ng-show="authenticated">{{current_user}} has</h4>
    <h4 ng-hide="authenticated">You have</h4>-->

    <h3>Find a recipe.</h3>
    <h4>Use ingredients you already have.</h4>
    <input required class="form-control" maxlength="200" rows="1" placeholder="Search" ng-model="newRecipe.name" ng-change="autocompleteQuery()" />
    <input class="btn submit-btn pull-right" ng-click = "addIng()" type="submit" value="+" />
  </form>


  <ul class="tags">
  <table>
    <tr ng-repeat = "row in ingredientTags track by $index">
       <td ng-repeat = "item in row track by $index">
          <li><a class="tag" ng-click = "removeIng(item)">{{item}}</a></li>
      </td>
    </tr>
    <td><input class="btn submit-btn btn-search" ng-click="search()" value="Search" ng-show = "isNotEmpty"/></td>
  </table>
</ul>
  <table ng-table="vm.tableParams" class="table" show-filter="true">
    <tr ng-repeat="suggestion in suggestions">
        <td ng-click="autocomplete(suggestion)">
            {{suggestion}}</td>
    </tr>
  </table>
  <button id="popup" class="feedback-button" ng-click="toggleVisibility()">Feedback</button>
</div>
</div>
<style>
    .redSquare {
        color: #ff704d;
    }
    .greenSquare {
        color: #85e085
;
    }
</style>

<!--<div id="post-stream" ng-show="searched">
	<h4>Recipes</h4>
		<div class="post" ng-repeat="recipe in recipes" ng-class-odd="'odd'" ng-class-even="'even'">
			<p>{{recipe.name}}</p>
			<small>Posted by @{{recipe.link}}</small>
			<small class="pull-right">{{recipe.thumbnail}}</small>
		</div>
</div>-->

<br>

<div class="center">
  <div class="row">
      <div class="col-md-3" ng-repeat = "recipe in recipes | orderBy: '-ratio'">
        <div class="thumbnail">
			<a href = {{recipe.url}}><img ng-src="{{recipe.image}}" class="md-card-image" alt="user avatar"></a>
			<div class="caption">
	            <h4>{{recipe.label}} - {{recipe.ratio}}%</h4>
                    <div ng-show="expanded[$index]">
                      <p><b>Required:</b></p>
                      <div class = "ingredientContainer">
                      <table>
                          <tr>
                              <th>Ingredient</th>
                              <th>Required</th>
                              <th>Left</th>
                          </tr>
                          <tr ng-repeat = "ingredient in recipe.full track by $index">
                              <td>{{ingredient.name}}</td>
                              <td>{{ingredient.req}} {{ingredient.unit}}
                          
                                 <input ng-click="addToShoppingList(ingredient)" class="btn card-btn" type="submit" value="+" />

                              </td>

                                
                              <td ng-class="{true:'redSquare',false:'greenSquare'}[ingredient.isRed]">{{ingredient.surplus}} {{ingredient.unit}}</td>
                          </tr>
                      </table>
                      </div>
                      <br><br><b>Other:</b>
                      <div ng-repeat = "other in recipe.other track by $index">
                          {{other}}
                      </div>
                    </div>
	            <!--
              <a ng-href="{{recipe.url}}" class="btn card-btn">View</a>
	            <input ng-click = "saveRecipe(recipe.label)" class="btn card-btn" type="submit" value="Save" />
              -->
              <div class = "recipeButtons">
                <input ng-click="addAllToShoppingList(recipe)" class="btn card-btn" type="submit" value="Add to List"/>
                <input ng-click = "saveRecipe(recipe.label)" class="btn card-btn" type="submit" value="Save"/>
                <input ng-click="expandRecipe($index)" class="btn card-btn" type="submit" value="View"/>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
