<div class="clearfix">
  <form ng-Submit="post()" ng-show="authenticated">
    <h4>{{current_user}} says</h4>
    <textarea required class="form-control" maxlength="200" rows="3" placeholder="Say something" ng-model="newPost.text"></textarea>
    <input class="btn submit-btn pull-right" type="submit" value="Chirp!" />
  </form>
</div>


<body ng-app="chirpApp">
  <div class="container" ng-controller="mainController" style="position: fixed;">
    <img src="/meanStarter/assets/img/RecipeReadyLogo.png" alt="Google" />
    <form ng-submit = "search()">
	    <div class="search">
	      <input type="text" placeholder="put something" ng-model="s_text" name="search" id = "searchbox" class="round"/>
	      <input class="button" type="submit" value="Find!!" />
	    </div>
		</form>
  </div>
</body>



