<div class="clearfix">
  <form ng-Submit="search()">
    <h4 ng-show="authenticated">{{current_user}} has</h4>
    <h4 ng-hide="authenticated">You have</h4>
    <input required class="form-control" maxlength="200" rows="1" placeholder="Search" ng-model="newRecipe.name"/>
    <input class="btn submit-btn pull-right" type="submit" value="Search" />
  </form>
</div>
<div id="post-stream" ng-show="searched">
	<h4>Recipes</h4>
		<div class="post" ng-repeat="recipe in recipes" ng-class-odd="'odd'" ng-class-even="'even'"> 
			<p>{{recipe.name}}</p>
			<small>Posted by @{{recipe.link}}</small>
			<small class="pull-right">{{recipe.thumbnail}}</small>
		</div>
</div>


