<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="index.css"></style>
<body>

<div ng-app="">
    <div class="topBar">
    

        <img src="RecipeReadyLogo.png"style="width:60px;height:60px;"></img>
        <input class="searchBar" type="text" ng-model="name" placeholder="Search Ingredients">


            <a href="">user.username's pantry</a>
            <Button type="button" class="standardButton" style="background-color:green">add items</Button>

        
    </div>


  
  <div class="centerContent">
      <img src="RecipeReadyLogo.png"style="width:200px;height:200px;"></img>
      <h1>Recipe Ready</h1>
      <p><input class="searchBar" type="text" ng-model="name" placeholder="Search Recipes"></p>
  </div>
  <p>{{name}}</p>
</div>

</body>
</html>